.timer-block {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    top: 1em;
    font-size: 2em;
    padding: .5em;
    background-color: hsl(210, 30%, 40%);
    border-radius: 3px;
    color: white;
    user-select: none;
}

.hide {
    opacity: 0;
    transition: all .2s ease;
}

.final-block {
    position: absolute;
    left: 0;
    right: 0;
    top: 5em;
    width: fit-content;
    margin: auto;
    color: hsl(210, 30%, 40%);
    font-size: 1.5em;
}