.timer-block {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    top: 1em;
    font-size: 2em;
    padding: .5em;
    background-color: hsl(210, 50%, 50%);
    border-radius: 3px;
    color: white;
    user-select: none;
}

.timer-block.hide {
    transition: all .2s ease;
    opacity: 0;
    top: -1em;
}

.timer-block.orange-bgr {
    background-color: hsl(40, 100%, 50%);
}

.final-block {
    position: absolute;
    left: 0;
    right: 0;
    top: 5em;
    width: fit-content;
    margin: auto;
    color: hsl(210, 50%, 50%);
    font-size: 1.5em;
    user-select: none;
}

.final-block.hide {
    transition: all .3s ease;
    opacity: 0;
}